<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="ReRegisterEventInterval" value="1" />
    <add key="DeviceLength" value="4" />
    <add key="RealtimeDeviceIp1" value="10.10.200.59" />
    <add key="RealtimeDeviceNumber1" value="1" />
    <add key="RealtimeDeviceIp3" value="10.10.200.60" />
    <add key="RealtimeDeviceNumber3" value="1" />
    <add key="RealtimeDeviceIp2" value="10.10.200.61" />
    <add key="RealtimeDeviceNumber2" value="1" />
    <add key="RealtimeDeviceIp4" value="10.10.200.62" />
    <add key="RealtimeDeviceNumber4" value="1" />
  </appSettings>
</configuration>
